In [3]:
import pandas as pd 
diabetes = pd.read_csv(r"C:\Users\molab\Documents\Data Science\diabetes\Dataset_of_diabetes.csv", index_col = 'ID')
diabetes.head()

,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
ID,,,,,,,,,,,,,
502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
diabetes = diabetes.drop(columns='No_Pation')
for col in diabetes.columns:
    unique_values = diabetes[col].unique()
    print(f'{col} {len(unique_values)} unique')
    print(unique_values)

Gender 3 unique
['F' 'M' 'f']
AGE 50 unique
[50 26 33 45 48 43 32 31 30 49 42 39 41 44 47 36 38 46 35 40 59 51 57 63
 25 60 77 54 34 55 28 56 52 69 73 61 58 53 66 68 62 64 67 70 79 76 65 75
 20 71]
Urea 110 unique
[ 4.7    4.5    7.1    2.3    2.     2.6    3.6    4.4    3.3    3.
  4.6    3.5    5.5    5.9    2.2    3.8   13.5    5.     5.3    4.
  3.2    4.8    4.2    4.3    7.5    5.6    6.     3.4    4.1    2.7
  5.7    3.7    3.1    2.4    5.4    2.1    3.9    2.8    7.6    6.8
  5.2    6.3    6.6    5.8   10.     9.6    7.3   22.     6.1   17.1
  7.7    1.8    5.1    9.1    8.5    6.5    4.16   8.7   20.8    1.2
  2.9   14.1    9.9    9.3   11.7    7.8    4.9    8.    20.     4.66
 14.     6.2    5.66   6.66   3.66  10.5    7.     6.4   10.4    1.9
  3.33   8.6    2.5   14.5    8.9    6.7   11.3   11.     0.5   13.2
 24.    10.3    7.4    6.833 11.1   13.3    7.9    7.2    1.1    9.
 14.9    4.33   9.2   11.2   38.9    6.9   26.4    8.1    8.2    8.8  ]
Cr 113 unique
[ 46  62  24  50  47  67  28  55  53  42  54  39  74 175  73  45  80  99
  49  82  70  20  48  31  44  60  57  40  69  52  32  38  85  64  63   6
  56  58  88  61  97 106  35 123  79 203 132 159  83  81  87  59  75  37
 344  77  65  76  72  96  91 370  68  23  92  71  93  78 800  25  34  33
 146  30 136 315  66  36  95 111  41  84  86 243 179 120  51 130 145  26
  89  98 401 112  43 139  22 107 230  90  27  29 126 327 101 198 228 168
 114 194 150 113 185]
HbA1c 111 unique
[ 4.9   4.    4.2   4.1   5.1   5.    5.4   4.5   5.3   5.5   4.3   4.8
  4.7   3.7   5.6   0.9   6.    5.7   5.8   6.2   6.1   6.4   5.9   6.3
 12.3   6.7  10.2  11.2   6.5   6.9   7.7   7.2  13.7   5.2   4.6   9.7
  7.    7.5   8.9   7.4   6.8  10.4   7.8   9.9   7.3   8.1   8.    9.
 11.8   9.1  10.7   7.6  10.3   7.9   8.5  12.1   9.8   9.2  10.1   8.7
  9.3   8.8  11.   10.5   9.6  10.6  11.5   7.1   9.5  10.9   8.2  11.4
 11.7  12.    9.4   8.3   8.6  11.3  10.   13.1  10.8   6.6  12.8   2.
 14.7  11.9  12.4  12.2  12.9  12.6  11.6   8.4  13.   12.5  12.7  11.1
 13.6  13.8  14.6   3.   14.5  13.9  13.2  15.9  14.8  14.4  15.   14.1
 16.   13.3   9.96]
Chol 77 unique
[ 4.2   3.7   4.9   2.9   3.6   3.8   4.    5.3   5.    4.4   0.5   6.2
  4.8   4.6   5.5   2.8   5.6   3.2   6.5   3.    9.5   4.7   5.2   4.3
  4.1   3.9   3.1   3.4   7.6   6.3   4.5   2.    0.    5.9   5.4   2.1
  6.1   5.7   5.1   6.    6.7   6.8   2.5   2.4   5.8   7.    7.1   6.6
  7.2   3.5   2.7   2.6   0.6   8.5   2.3   3.3   8.8   7.3   6.4   6.9
  9.9   9.8   9.3   7.9  10.3   9.7   9.1   1.2   6.12  8.4   7.7   9.2
  8.1   8.    7.4   8.6   7.5 ]
TG 69 unique
[ 0.9   1.4   1.    1.3   0.8   2.    0.7   1.1   1.7   1.5   1.9   1.8
  2.9   0.6   1.2   1.6   2.1   2.3   2.8   5.9   2.5   4.5   2.7   3.5
  5.3   3.9   3.7   3.    2.2   2.4   3.8   6.    3.1   3.2   4.4   4.6
  4.2   5.1   3.3   3.4   6.8   2.6   2.03  1.19  1.91  4.1   4.3   3.6
  4.9   0.3   5.4   5.8   6.7   5.    7.    4.   13.8   7.2   6.3   7.7
  5.5   0.5  12.7   4.7   8.7   8.5   4.8  11.6   5.7 ]
HDL 48 unique
[2.4  1.1  0.8  1.   0.9  1.7  1.2  1.3  1.4  1.6  0.6  0.7  2.3  2.1
 2.   0.5  4.   1.5  1.8  2.5  0.75 1.9  3.9  2.8  3.1  1.95 6.6  1.08
 6.3  0.95 3.2  1.45 1.75 0.4  1.05 3.6  1.35 2.6  1.03 3.8  0.2  3.4
 1.85 1.73 9.9  5.   9.   2.2 ]
LDL 65 unique
[1.4  2.1  2.   1.5  1.6  3.7  3.8  2.7  3.2  2.2  4.1  3.3  1.3  2.8
 4.6  2.3  3.6  3.   3.5  2.4  0.9  4.2  1.9  4.9  2.6  2.5  0.3  1.7
 1.2  1.8  4.3  3.4  1.1  3.1  1.   1.35 3.9  0.8  2.9  4.5  4.7  0.6
 0.7  1.95 9.9  4.4  5.   4.8  5.5  5.6  4.   0.75 0.95 0.96 7.5  7.9
 6.4  2.04 0.5  5.9  1.04 5.1  1.45 7.   5.3 ]
VLDL 60 unique
[ 0.5  0.6  0.4  1.   0.3  0.8  0.7  1.3  4.1  5.  14.5  0.2  1.2  1.1
  1.4  0.9  1.8  2.4  1.7  1.6 15.4  8.1  9.5 10.4 12.7  7.2 14.  13.1
 12.2 10.   1.5 31.8  3.1 22.2  1.9  0.1  2.2 22.7 35.  31.   2.  11.3
 16.3 33.6  2.6  2.1 19.5 18.1  6.3  7.   2.8 24.5  3.5 27.2  2.5  5.8
  3.4  9.   3.   5.2]
BMI 64 unique
[24.   23.   21.   22.   19.   20.   23.5  24.5  22.5  24.6  25.   30.
 31.   32.   29.   28.   19.5  27.   37.2  27.4  34.3  29.5  34.6  27.3
 31.2  40.5  47.   21.17 40.   28.3  31.5  37.   35.   33.   39.   38.
 26.   33.9  31.4  36.   34.   36.6  30.1  29.36 32.9  43.25 39.18 34.5
 33.6  34.05 27.75 35.2  36.11 38.62 30.2  29.63 28.36 47.75 37.62 35.16
 27.33 27.17 32.65 25.6 ]
CLASS 5 unique
['N' 'N ' 'P' 'Y' 'Y ']

In [5]:
diabetes['Gender'] = diabetes['Gender'].replace('f', 'F')
diabetes['CLASS'] = diabetes['CLASS'].str.strip()
for col in diabetes.columns:
    unique_values = diabetes[col].unique()
    print(f'{col} {len(unique_values)} unique')
    print(unique_values)

Gender 2 unique
['F' 'M']
AGE 50 unique
[50 26 33 45 48 43 32 31 30 49 42 39 41 44 47 36 38 46 35 40 59 51 57 63
 25 60 77 54 34 55 28 56 52 69 73 61 58 53 66 68 62 64 67 70 79 76 65 75
 20 71]
Urea 110 unique
[ 4.7    4.5    7.1    2.3    2.     2.6    3.6    4.4    3.3    3.
  4.6    3.5    5.5    5.9    2.2    3.8   13.5    5.     5.3    4.
  3.2    4.8    4.2    4.3    7.5    5.6    6.     3.4    4.1    2.7
  5.7    3.7    3.1    2.4    5.4    2.1    3.9    2.8    7.6    6.8
  5.2    6.3    6.6    5.8   10.     9.6    7.3   22.     6.1   17.1
  7.7    1.8    5.1    9.1    8.5    6.5    4.16   8.7   20.8    1.2
  2.9   14.1    9.9    9.3   11.7    7.8    4.9    8.    20.     4.66
 14.     6.2    5.66   6.66   3.66  10.5    7.     6.4   10.4    1.9
  3.33   8.6    2.5   14.5    8.9    6.7   11.3   11.     0.5   13.2
 24.    10.3    7.4    6.833 11.1   13.3    7.9    7.2    1.1    9.
 14.9    4.33   9.2   11.2   38.9    6.9   26.4    8.1    8.2    8.8  ]
Cr 113 unique
[ 46  62  24  50  47  67  28  55  53  42  54  39  74 175  73  45  80  99
  49  82  70  20  48  31  44  60  57  40  69  52  32  38  85  64  63   6
  56  58  88  61  97 106  35 123  79 203 132 159  83  81  87  59  75  37
 344  77  65  76  72  96  91 370  68  23  92  71  93  78 800  25  34  33
 146  30 136 315  66  36  95 111  41  84  86 243 179 120  51 130 145  26
  89  98 401 112  43 139  22 107 230  90  27  29 126 327 101 198 228 168
 114 194 150 113 185]
HbA1c 111 unique
[ 4.9   4.    4.2   4.1   5.1   5.    5.4   4.5   5.3   5.5   4.3   4.8
  4.7   3.7   5.6   0.9   6.    5.7   5.8   6.2   6.1   6.4   5.9   6.3
 12.3   6.7  10.2  11.2   6.5   6.9   7.7   7.2  13.7   5.2   4.6   9.7
  7.    7.5   8.9   7.4   6.8  10.4   7.8   9.9   7.3   8.1   8.    9.
 11.8   9.1  10.7   7.6  10.3   7.9   8.5  12.1   9.8   9.2  10.1   8.7
  9.3   8.8  11.   10.5   9.6  10.6  11.5   7.1   9.5  10.9   8.2  11.4
 11.7  12.    9.4   8.3   8.6  11.3  10.   13.1  10.8   6.6  12.8   2.
 14.7  11.9  12.4  12.2  12.9  12.6  11.6   8.4  13.   12.5  12.7  11.1
 13.6  13.8  14.6   3.   14.5  13.9  13.2  15.9  14.8  14.4  15.   14.1
 16.   13.3   9.96]
Chol 77 unique
[ 4.2   3.7   4.9   2.9   3.6   3.8   4.    5.3   5.    4.4   0.5   6.2
  4.8   4.6   5.5   2.8   5.6   3.2   6.5   3.    9.5   4.7   5.2   4.3
  4.1   3.9   3.1   3.4   7.6   6.3   4.5   2.    0.    5.9   5.4   2.1
  6.1   5.7   5.1   6.    6.7   6.8   2.5   2.4   5.8   7.    7.1   6.6
  7.2   3.5   2.7   2.6   0.6   8.5   2.3   3.3   8.8   7.3   6.4   6.9
  9.9   9.8   9.3   7.9  10.3   9.7   9.1   1.2   6.12  8.4   7.7   9.2
  8.1   8.    7.4   8.6   7.5 ]
TG 69 unique
[ 0.9   1.4   1.    1.3   0.8   2.    0.7   1.1   1.7   1.5   1.9   1.8
  2.9   0.6   1.2   1.6   2.1   2.3   2.8   5.9   2.5   4.5   2.7   3.5
  5.3   3.9   3.7   3.    2.2   2.4   3.8   6.    3.1   3.2   4.4   4.6
  4.2   5.1   3.3   3.4   6.8   2.6   2.03  1.19  1.91  4.1   4.3   3.6
  4.9   0.3   5.4   5.8   6.7   5.    7.    4.   13.8   7.2   6.3   7.7
  5.5   0.5  12.7   4.7   8.7   8.5   4.8  11.6   5.7 ]
HDL 48 unique
[2.4  1.1  0.8  1.   0.9  1.7  1.2  1.3  1.4  1.6  0.6  0.7  2.3  2.1
 2.   0.5  4.   1.5  1.8  2.5  0.75 1.9  3.9  2.8  3.1  1.95 6.6  1.08
 6.3  0.95 3.2  1.45 1.75 0.4  1.05 3.6  1.35 2.6  1.03 3.8  0.2  3.4
 1.85 1.73 9.9  5.   9.   2.2 ]
LDL 65 unique
[1.4  2.1  2.   1.5  1.6  3.7  3.8  2.7  3.2  2.2  4.1  3.3  1.3  2.8
 4.6  2.3  3.6  3.   3.5  2.4  0.9  4.2  1.9  4.9  2.6  2.5  0.3  1.7
 1.2  1.8  4.3  3.4  1.1  3.1  1.   1.35 3.9  0.8  2.9  4.5  4.7  0.6
 0.7  1.95 9.9  4.4  5.   4.8  5.5  5.6  4.   0.75 0.95 0.96 7.5  7.9
 6.4  2.04 0.5  5.9  1.04 5.1  1.45 7.   5.3 ]
VLDL 60 unique
[ 0.5  0.6  0.4  1.   0.3  0.8  0.7  1.3  4.1  5.  14.5  0.2  1.2  1.1
  1.4  0.9  1.8  2.4  1.7  1.6 15.4  8.1  9.5 10.4 12.7  7.2 14.  13.1
 12.2 10.   1.5 31.8  3.1 22.2  1.9  0.1  2.2 22.7 35.  31.   2.  11.3
 16.3 33.6  2.6  2.1 19.5 18.1  6.3  7.   2.8 24.5  3.5 27.2  2.5  5.8
  3.4  9.   3.   5.2]
BMI 64 unique
[24.   23.   21.   22.   19.   20.   23.5  24.5  22.5  24.6  25.   30.
 31.   32.   29.   28.   19.5  27.   37.2  27.4  34.3  29.5  34.6  27.3
 31.2  40.5  47.   21.17 40.   28.3  31.5  37.   35.   33.   39.   38.
 26.   33.9  31.4  36.   34.   36.6  30.1  29.36 32.9  43.25 39.18 34.5
 33.6  34.05 27.75 35.2  36.11 38.62 30.2  29.63 28.36 47.75 37.62 35.16
 27.33 27.17 32.65 25.6 ]
CLASS 3 unique
['N' 'P' 'Y']

In [6]:
diabetes.head()

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
ID
502      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
735      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
420      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
680      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
504      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N

In [7]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBClassifier, XGBRegressor
from sklearn.metrics import accuracy_score, classification_report, f1_score, roc_auc_score, mean_squared_error, r2_score

In [8]:
features = ['Gender', 'AGE', 'Urea', 'Cr', 'HDL', 'Chol', 'TG', 'LDL', 'VLDL', 'BMI', 'CLASS']
X = diabetes[features]
y = diabetes['HbA1c']

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1) # 80% training and 20% validation

In [9]:
categorical_col = ['Gender', 'CLASS']
numerical_col = ['AGE', 'Urea', 'Cr', 'HDL', 'Chol', 'TG', 'LDL', 'VLDL', 'BMI']

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), categorical_col),
        ('num', 'passthrough', numerical_col)
    ])
# Create a pipeline that includes the preprocessor and the model
model = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('classifier', RandomForestRegressor(random_state=42, n_estimators=200, max_depth=20))
        ])

model.fit(train_X, train_y)
y_preds = model.predict(val_X)
print("MSE:", mean_squared_error(val_y, y_preds))
print("R2 Score:", r2_score(val_y, y_preds))

MSE: 2.556457766670832
R2 Score: 0.5952496972261878

In [59]:
param_grid = {
    'classifier__n_estimators': [100, 200, 300],
    'classifier__max_depth': [None, 10, 20, 30],
    'classifier__min_samples_split': [2, 5, 10],
    'classifier__min_samples_leaf': [1, 2, 4],
    'classifier__bootstrap': [True, False],
    'classifier__criterion': ['squared_error', 'absolute_error'] 
}

grid_search = GridSearchCV(model, param_grid, cv=5, scoring='r2', n_jobs=1)
grid_search.fit(train_X, train_y)

print("Best parameters:", grid_search.best_params_)
print("Best R² score:", grid_search.best_score_)

Best parameters: {'classifier__bootstrap': True, 'classifier__criterion': 'absolute_error', 'classifier__max_depth': 30, 'classifier__min_samples_leaf': 1, 'classifier__min_samples_split': 2, 'classifier__n_estimators': 300}
Best R² score: 0.555982558422699